body {
    font-family:Arial, Helvetica, sans-serif;
   font-size: 18px;
 }

 h1{
  font-size: 56px;
  color: #424242;
 }

 h2{ 
  font-size: 32px;
 }
 
 .wrapper { /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout for grid layout help */
   display: grid;
   grid-template-columns: 1fr 400px 400px 1fr;
   gap: 16px;
   grid-auto-rows: minmax(100px, auto);
 }
 .one {
   grid-column: 2;
   grid-row: 1;
 }
 .two {
   grid-column: 2;
   grid-row: 2/4;
   background-color:#E9EAEC;
     border-radius:5%;
   width: 384px;
     height: 373px;
 }
 .three {
   grid-column: 3;
   grid-row: 2 / 4;
   background-color: #E9EAEC;
     border-radius:5%;
   width: 384px;
     height: 350px;
 }
 
 #computer{
   width: 800px;
   height: 227px;
       border-radius:5%;
       object-fit: cover;
       object-position: bottom;
 
 }
 
 .four{
   background-color:#424242;
   color:white;
   height: 238px;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;
 }